/* AssignedHousekeeper.css */

#assigned {
  background: url('https://images.pexels.com/photos/6195104/pexels-photo-6195104.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  text-align: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-wrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  color: #333;
  margin-bottom: 20px;
}

.housekeeper-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.assigned-list{
  width: 400px;
margin-left: 500px;


}
