/* ServiceFeedback.css */
#service-feedback{
  background: url('https://images.pexels.com/photos/6197046/pexels-photo-6197046.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  height: 700px;
}
.service-feedback-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255 ,255, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    background-color: rgba(255,255 ,255, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select,
  textarea,
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  